.Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 320px;

}
.Nav .header {
  margin-top: 10px;
}
.logo h1 {
  font-size: 22px;
  font-weight: 500;
  color: #d63447;
  margin-bottom: 60px;

}

.search-area {
  display: flex;
  gap: 15px;
  min-height: 40px;
}

.search-area form {
  display: flex;
  gap: 15px;
}

.search-area input {
  width: 350px;
  border-radius: 30px;
  border: 1px solid whitesmoke;
  padding: 10px;
}

.search-area button {
  background: linear-gradient(to bottom right, #d63447, #f57b51);
  border: 0;
  border-radius: 12px;
  color: beige;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1.5rem;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.search-area button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.search-area button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

@media (max-width: 720px) {
    .Nav{
    width: 100%;
    margin-top: 20px;

  }  

  .Nav form{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  .Nav .search-button{
    
    width: 40%;
   
  }
  .search-area {
    display: flex;
    flex-direction: column;
  }

  .search-area .btn-random {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

 
}
