.RecipeCard {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}



.RecipeCard .loading,
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  color: #d63447;
}

.RecipeCard .error p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.detail {
  margin: 10px 20px 30px 40px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.RecipeCard img {
  max-height: 450px;
  max-width: 450px;


}
.RecipeCard .image{
  width: 100%;
  height: 100%;
}


.detail .title h1 {
  color: rgb(43, 41, 41);
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.detail .share-buttons {
  display: flex;
  gap: 20px;
}

.detail .story {
  margin: 40px 0 40px 0;
}

.detail .share-buttons button {
  height: 35px;
  width: auto;
  padding: 0 16px 0 16px;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50em;
  border: 1.5px solid #d63447;
  color: rgb(34, 33, 33);
}
.detail .share-buttons button:hover {
  background: linear-gradient(to bottom right, #d63447, #f57b51) border-box;
  color: beige;
}

.detail .go-recipe-button {
  margin-left: auto;
  margin-top: 60px;
  margin-right: 25px;
}

.detail .go-recipe-button button {
  height: 35px;
  width: auto;
  padding: 0 17px 0 17px;
  cursor: pointer;
  background: transparent;
  background: linear-gradient(to bottom right, #d63447, #f57b51) border-box;
  font-size: 17px;
  font-weight: 500;
  border-radius: 50em;
  border: 4px transparent;
  color: beige;
}


.share-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(#000, 0.1);
  padding: 80px;
  margin: 10px;
}
.share-modal h3{
  align-self: center;
  align-items: center;
  justify-content: center;
}
.share-modal .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background: #ddd;
  }


.share-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#fff, 0.8);
}

.share-icons svg{
  margin: 15px;
}

@media (max-width: 720px) {
  .RecipeCard {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

  }

  .detail {
    width: auto;
    margin: 10px 20px 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .detail .go-recipe-button{
    padding: auto;
    margin: auto;
    margin-top: 20px;
  }

  .RecipeCard .image {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    overflow: hidden;

  }
  .RecipeCard img {
    width: auto;
    height: auto;

  }
}
